div {
    border-width:2px 2px 2px 2px;
    border-style:solid;
    border-color:black;
    text-align: center;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    }

    #btn_train{
        background-color: #9f9e9b;
    }
    
    #btn_train a{
        color: white;
    }